<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AJRInterface.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>AJRInterfaceTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AJRMiniBrowser.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0587BC192FE152002913B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA53D61C2240D131003E02B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA76ABB8221D4496008FA786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABFEF68145286FE008CE3FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
